.header-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-transform: capitalize;
  min-width: 520px
}

.actions {

  ul {
   display: flex;
   list-style-type: none;
   flex-direction: row;
   justify-content: space-between;
   max-width: 300px;
   min-width: 200px;

   li {
    cursor: pointer;
   }
 }
}